*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
}
.card__contianer{
    width: 99%;
    height: 500px;
    padding: 2%;
    display: flex;
    border-radius: 10px;
    background-color: #ef4056;
}
.card__contianer .card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__contianer .card__contianer__titlePart img{
    width: 200px;
}

.card__contianer .card img{
    width: 200px;
}
